<!--客戶基本資料資料庫：須能新增資料、刪除資料、修改資料、查詢資料及列印資料，其中
新增資料：新增客戶資料，客戶均為自然人，不必考慮以公司名稱購買者。
刪除資料：係將資料之消費狀態由「正常」改成「停用」，而不是真的刪除。
修改資料：當客戶資料與事實不符時，例如，住址或電話變更，用以修改。
查詢資料：必須至少能以身分證字號查詢。
列印資料：能依查詢要求列印查詢結果資料。
-->

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>資料庫實做題目(三)</title>

    <!-- Bootstrap core CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <script type="text/javascript"
        src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=h9B3vfHHH5zCFrXFln1kn9AgbYOMdSfB1ATA5lbuX65vaS3mdrDnKUKP_f3QyGLqoUF9rQGZ0QOqZIn9Dll2RtWDMZDytZ4D8TFb9jQFjEo"
        charset="UTF-8"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous">
    </script>
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

</head>

<body class="py-4">
    <div class="container-fluid">
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">期末資料庫專題第三題</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item ">
                        <a class="nav-link" href="/">客戶基本資料</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/orderRecord">客戶訂貨記錄</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/companyPurchase">公司進貨資料</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/companyAccount">公司應收帳款資料</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">使用者介面</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">客戶基本資料</a>
                            <a class="dropdown-item" href="#">客戶訂貨記錄</a>
                            <a class="dropdown-item" href="#">公司進貨資料</a>
                            <a class="dropdown-item" href="#">公司應收帳款</a>
                            <a class="dropdown-item" href="#">跨資料庫整合</a>
                        </div>
                    </li>
                </ul>
            </div>
            <form class="form-inline my-2 my-lg-0">
                <button class="btn btn-outline-success my-2 my-sm-0" onclick="printme()" rel="external nofollow"
                    target="_self">列印搜尋結果</button>
            </form>
        </nav>
    </div>
    <div class="container-fluid" style="padding-top:50px ;">

        <div class="row">
            <div class="col">
                <h1>客戶訂貨記錄</h1>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-5">
                    <form action="/addOrderRecord" autocomplete="off" method="post">

                        <div class="form-row">
                            <div class="col">
                                <label>身分證字號</label>
                                <% if(update){ %>
                                <input type="text" class="form-control" placeholder="Id Card" id="id_card"
                                    name="id_card" value="<%- order_record[0][0] %>" readonly>

                                <% } else { %>
                                <input type="text" class="form-control" placeholder="Id Card" id="id_card"
                                    name="id_card">
                                <%} %>

                            </div>
                            <div class="col">

                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <label>訂貨日期</label>
                                <% if(update){ %>
                                <input type="date" class="form-control" placeholder="Order Date" id="order_date"
                                    name="order_date" value="<%- order_record[0][1] %>">

                                <% } else { %>
                                <input type="date" class="form-control" placeholder="Order Date" id="order_date"
                                    name="order_date">
                                <%} %>


                            </div>
                            <div class="col">
                                <label>預計遞交日期</label>
                                <% if(update){ %>
                                <input type="date" class="form-control" placeholder="Expected Delivery Date"
                                    id="expected_delivery_date" name="expected_delivery_date"
                                    value="<%- order_record[0][2] %>">

                                <% } else { %>
                                <input type="date" class="form-control" placeholder="Expected Delivery Date"
                                    id="expected_delivery_date" name="expected_delivery_date">
                                <%} %>

                            </div>
                            <div class="col">
                                <label>實際遞交日期</label>
                                <% if(update){ %>
                                <input type="date" class="form-control" placeholder="Actual Delivery Date"
                                    id="actual_delivery_date" name="actual_delivery_date"
                                    value="<%- order_record[0][3] %>">

                                <% } else { %>
                                <input type="date" class="form-control" placeholder="Actual Delivery Date"
                                    id="actual_delivery_date" name="actual_delivery_date">
                                <%} %>


                            </div>
                        </div>
                        <div class="form-group">
                            <label>訂貨品名</label>
                            <% if(update){ %>
                            <input type="text" class="form-control" placeholder="Product Name" id="product_name"
                                name="product_name" value="<%- order_record[0][4] %>">

                            <% } else { %>
                            <input type="text" class="form-control" placeholder="Product Name" id="product_name"
                                name="product_name">
                            <%} %>

                        </div>
                        <div class="form-row">
                            <div class="col">
                                <label>單位</label>
                                <% if(update){ %>
                                <input type="text" class="form-control" placeholder="Unit" id="unit" name="unit"
                                    value="<%- order_record[0][5] %>">

                                <% } else { %>
                                <input type="text" class="form-control" placeholder="Unit" id="unit" name="unit">
                                <%} %>

                            </div>
                            <div class="col">
                                <label>數量</label>
                                <% if(update){ %>
                                <input type="text" class="form-control" placeholder="Amount" id="amount" name="amount"
                                    value="<%- order_record[0][6] %>">

                                <% } else { %>
                                <input type="text" class="form-control" placeholder="Amount" id="amount" name="amount">
                                <%} %>

                            </div>
                            <div class="col">
                                <label>單價</label>
                                <% if(update){ %>
                                <input type="text" class="form-control" placeholder="Price" id="price" name="price"
                                    value="<%- order_record[0][7] %>">

                                <% } else { %>
                                <input type="text" class="form-control" placeholder="Price" id="price" name="price">
                                <%} %>

                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <label>訂貨金額</label>
                                <% if(update){ %>
                                <input type="text" class="form-control" placeholder="Order Price" id="order_price"
                                    name="order_price" value="<%- order_record[0][8] %>">

                                <% } else { %>
                                <input type="text" class="form-control" placeholder="Order Price" id="order_price"
                                    name="order_price">
                                <%} %>

                            </div>
                            <div class="col">
                                <label>供應商名稱</label>
                                <% if(update){ %>
                                <input type="text" class="form-control" placeholder="Supplier" id="supplier"
                                    name="supplier" value="<%- order_record[0][9] %>">

                                <% } else { %>
                                <input type="text" class="form-control" placeholder="Supplier" id="supplier"
                                    name="supplier">
                                <%} %>

                            </div>
                            <div class="col">
                                <label>供應商編號</label>
                                <% if(update){ %>
                                <input type="text" class="form-control" placeholder="Suppler Number" id="suppler_number"
                                    name="suppler_number" value="<%- order_record[0][10] %>">

                                <% } else { %>
                                <input type="text" class="form-control" placeholder="Suppler Number" id="suppler_number"
                                    name="suppler_number">
                                <%} %>

                            </div>
                        </div>


                        <% if(update){ %>
                        <input type="hidden" name="update" value="true">

                        <% } else { %>

                        <input type="hidden" name="update" value="false">
                        <%} %>
                        <button type="submit" class="btn btn-primary " style="margin-top: 20px;"
                            value="submit">Submit</button>
                    </form>
                </div>
                <div class="col-12 col-md-7">
                    <form class="form-inline my-2 my-lg-0" action="/searchOrderRecord" autocomplete="off" method="post">
                        <input class="form-control mr-sm-2" type="search" placeholder="輸入身分證字號查詢" aria-label="Search"
                            name="id_card">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                    <table class="table" id="orderRecordList">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">身分證字號</th>
                                <th scope="col">訂貨日期</th>
                                <th scope="col">預計遞交日期</th>
                                <th scope="col">實際遞交日期</th>
                                <th scope="col">訂貨品名</th>
                                <th scope="col">單位</th>
                                <th scope="col">數量</th>
                                <th scope="col">單價</th>
                                <th scope="col">訂貨金額</th>
                                <th scope="col">供應商名稱</th>
                                <th scope="col">供應商編號</th>
                                <th scope="col"></th>
                                <!--         <th scope="col"></th>                  -->

                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i = 0 ; order_record.length>i;i++){ %>
                            <th scope="row"><%- i+1 %></th>
                            <td> <%- order_record[i][0] %></td>

                            <td> <%- order_record[i][11] %></td>
                            <td> <%- order_record[i][12] %></td>
                            <td> <%- order_record[i][13] %></td>
                            <td> <%- order_record[i][4] %></td>
                            <td> <%- order_record[i][5] %></td>
                            <td> <%- order_record[i][6] %></td>
                            <td> <%- order_record[i][7] %></td>
                            <td> <%- order_record[i][8] %></td>
                            <td> <%- order_record[i][9] %></td>
                            <td> <%- order_record[i][10] %></td>
                            <td>
                                <form action="/updateOrderRecord" autocomplete="off" method="post">
                                    <button type="submit">修改</button>
                                    <input type="hidden" name="id_card" value="<%- order_record[i][0] %>">
                                    <input type="hidden" name="order_date" value="<%- order_record[i][1] %>">
                                    <input type="hidden" name="expected_delivery_date"
                                        value="<%- order_record[i][2] %>">
                                    <input type="hidden" name="actual_delivery_date" value="<%- order_record[i][3] %>">
                                    <input type="hidden" name="product_name" value="<%- order_record[i][4] %>">
                                    <input type="hidden" name="unit" value="<%- order_record[i][5] %>">
                                    <input type="hidden" name="amount" value="<%- order_record[i][6] %>">
                                    <input type="hidden" name="price" value="<%- order_record[i][7] %>">
                                    <input type="hidden" name="order_price" value="<%- order_record[i][8] %>">
                                    <input type="hidden" name="supplier" value="<%- order_record[i][9] %>">
                                    <input type="hidden" name="suppler_number" value="<%- order_record[i][10] %>">
                                </form>
                            </td>
                            <!--
                             <td>
                                <form action="/deleteOrderRecord" autocomplete="off" method="post">
                                    <button type="submit">刪除</button>
                                    <input type="hidden" name="id_card" value="<%- order_record[i][0] %>">
                                </form>
                            </td>
                            -->



                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> <!-- /container -->


    </div> <!-- /container -->
    <script>
        var tmp;
        window.onbeforeprint = function () {
            tmp = document.body.innerHTML;
            document.body.innerHTML = document.getElementById('print').innerHTML;
        }
        window.onafterprint = function () {
            document.body.innerHTML = tmp;
        }

        function printme() {

            window.print();

        }
    </script>
</body>

</html>